<!DOCTYPE html>
<html>
<head>
    <title>Linked List Visualization</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="container">
        <h1>Linked List Visualization</h1>
        <div id="linked-list"></div>
        <div class="button-group">
            <button id="insert-start">Insert at Start</button>
            <button id="insert-end">Insert at End</button>
            <button id="delete-node">Delete Node</button>
        </div>
    </div>

    <div id="data-input-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p>Enter Node Data:</p>
            <input type="number" id="node-data">
            <button id="submit-data">Submit</button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>